:root {
  --main-bg-color: #e0e1dd;
  --blue-accent: #415A77;
  --orange-accent: #EB961E;
  --dark-blue: #1b263b;
}

* {
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 30px;
}

nav {
  grid-row: 1 / 4;
  background-color: var(--blue-accent);
  padding-left: 20px;
  padding-right: 20px;
}

.info-nav {
  margin-top: 20px;
}

nav img {
  width: 20px;
  filter: invert(100%);
}

nav li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}


h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

nav a {
  color: white;
}

.header {
  margin-right: 20px;
  margin-left: 20px;
}

.search-header {
  margin-bottom: 20px;
}

.search-header, .personal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.search-header p {
  font-weight: bolder;
  font-size: 18px;
}

.search-header input, .greeting {
  flex-grow: 1;
  margin-right: 40px;
}

button {
  background-color: var(--blue-accent);
  border-radius: 20px;
  color: white;
  padding: 2px 20px;
  border: none;
}

.search-header input {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 15px;
}

.search-header img {
  width: 20px;
}

#account-picture-header {
  width: 24px;
}

#personal-picture-header {
  width: 42px;
}

#personal-header-name {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

.main-headers {
  padding: 20px 0px 10px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--main-bg-color);
  align-items: center;
}

.main-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
  background-color: var(--main-bg-color);
}

.main-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  margin-left: 20px;
  gap: 20px;
}

.cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: var(--orange-accent) solid 5px;
  border-radius: 10px;
  padding: 10px;
}

.images-cards {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.images-cards img {
  width: 20px;
}

.main-right {
  margin-right: 20px;
}

.announcement-sub-categories {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.announcement-sub-categories p {
  margin-bottom: 10px;
}

.trending h2 {
  padding: 10px 0px;
}

.person {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.contact-info {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.person img {
  width: 20px;
  grid-row: 1 / 3;
}

.person p {
  grid-column: 2 / 3;
}


